@mixin btn-custom($background, $color, $border) {
	color: $color;
	background-color: $background;
		border-color: $border;
}

.btn-orange, .btn-orange:focus{
	@include btn-custom(transparent, $orange, $orange);
}
.btn-orange:hover, .btn-orange:active{
	@include btn-custom($orange, $white, $orange);
}
.btn-orange-full, .btn-orange-full:focus{
	@include btn-custom($orange, $white, $orange);
}
.btn-orange-full:hover, .btn-orange-full:active{
	@include btn-custom(darken($orange, 5%), $white, $orange);
}
.btn-facebook, .btn-facebook:focus {
	@include btn-custom($facebook, $white, $facebook);
	span {
		border-right: 1px solid darken($facebook, 20%);
	}
}

.btn-check, .btn-check:hover, .btn-check:active {
    border: 1px solid #000;
    background-color: transparent;
    color: #000;
	width: 37px;
    height: 37px;
    padding: 8px;
}