.step-checkout {
	div{
		width: 20%;
		float: left;
		border: 1px solid $grey;
		color: $grey;
		font-size: 12px;
		height: 60px;
		line-height: 60px;
		padding-left: 0;
		padding-right: 0;
		text-transform: uppercase;
		&.active{
			border: 1px solid $black;
			color: $black;
			font-size: 13px;
			font-weight: 800;
		}
		span{
			display: inline-block;
			line-height: normal;
			vertical-align: middle;
		}
		@media screen and (max-width: 767px) {
			font-size: 11px;
			height: 60px;
			line-height: 60px;
			width: 100%;
			&.active{
				font-size: 12px;
				font-weight: 800;
			}
			span {
				display: inline-block;
				line-height: normal;
				vertical-align: middle;
			}
		}
	}
}
.warning {
	font-size: 11px;
    color: #ffa339;
    font-style: italic;
}    

.payment-list{
	width:100%;padding:15px;border: 0.5px solid #e5e5e5;cursor:pointer;
}
.payment-list i{
  -webkit-filter: grayscale(100%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(100%); 
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(100%); 
  -o-transition: .5s ease-in-out;
  filter: grayscale(100%);
}
.payment-list:hover i{
  -webkit-filter: grayscale(50%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(50%);
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(50%);
  -o-transition: .5s ease-in-out;
  filter: grayscale(50%);
} 

.payment-list i.active{
  -webkit-filter: grayscale(0%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(0%);
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(0%);
  -o-transition: .5s ease-in-out;
  filter: grayscale(0%);
} 
