footer {
	@extend .bg-black;
	color: $white;
	padding-top: 30px;
	padding-bottom: 30px;
	.menu-footer li {
		margin-right: 10px;
		&:last-child {
			margin-right: 0px;
		}
	}
	.menu-footer a{
		color: $grey-light;
		&:hover {
			color: $grey-light;
		}
	}
	a.footer-link{
		color: $grey-dark !important;
		&:hover {
			color: $white !important;
		}
	}
	.title{
		letter-spacing: 0.082em !important;
		font-size: 12px;
		a{
			color:white !important;
			&:hover{
				text-decoration: none !important;
			}
		}
		@media (max-width: 352px){
			letter-spacing: 0.082em !important;
		}
	}
}